.result-main-container{
  position:absolute;
  margin-left: 50px;
  margin-top: 120px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 480px;
  height: auto;
}

.results-div{
  text-align: center;
  align-items: center;
  margin-bottom: 30px;
  font-size: 10px;
}

.icon-result{
  width: 40px;
  height: 40px;;
}
