.result-main-container{
  position:absolute;
  margin-left: 50px;
  margin-top: 120px;
  background-color: white;
  box-shadow: 0 0 2px grey;
  border-radius: 8px;
  width: auto;
  height: auto;
}

.results-div{
  text-align: center;
  align-items: center;
  margin-top: 30px;
}

.icon-result{
  width: 50px;
  height: 50px;
}

.fly-extra-info-div{
  border-radius: 8px;
  box-shadow: 0 0 2px grey;
  border-top: 18px solid var(--yellow);
  padding: 15px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.departing-div, .flight-div{
  margin-right: 10px;
}

.arrow{
  width: 40px;
}

.drive-extra-info-container{
  box-shadow: 0 0 4px var(--blue);
  border: 1px solid var(--blue);
  border-radius: 6px;
  background-color: white;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 0;
}

.drive-info-div{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.drive-icon{
  height: 30px;
  margin-right: 8px;
}

.drive-field{
  margin-right: 8px;
}
