a{
  color: green;
  background-color: pink;
}

.main-form-div{
  background-color: grey;
  position:absolute;
  width: 500px;
  margin-left: 100px;
  border-radius: 6px;
}

.main-form-interior-div{
  background-color: white;
  margin: 10px;
  padding: 30px;
  border-radius: 6px;
}

.main-form-grid-container{
  display: grid;
  grid-template-columns: 100px 100px;
  grid-row: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
