@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.background-ad-image {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.main-form-container {
  position: absolute;
  transform: translate(75px, 200px);
  background-color: white;
  box-shadow: 0 0 2px grey;
  padding: 20px;
  border-radius: 8px;
  width: 280px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center; }

.main-form-inputs-container {
  margin-bottom: 15px;
  border-width: 5px;
  color: black; }

.main-form-fields {
  padding: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center; }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1;
  /* Firefox */ }

#id_date_start, #id_starting_destination, #id_final_destination {
  height: 46px;
  width: 180px;
  padding: 15px;
  border: 1px solid grey;
  box-shadow: 0 0 2px grey;
  border-radius: 4px; }

.main-form-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px; }

.main-form-btn {
  background-color: var(--blue);
  border-radius: 6px;
  width: 180px;
  height: 46px;
  color: white;
  font-size: 18px;
  font-weight: 800; }

.input-group {
  margin: 0px;
  width: 180px; }

.result-main-container {
  position: absolute;
  transform: translate(65px, 170px);
  background-color: white;
  box-shadow: 0 0 2px grey;
  border-radius: 8px;
  width: 600px;
  height: auto; }

.results-columns-container {
  margin: 20px 0; }

.drive-column {
  align-items: center;
  justify-content: center;
  margin: auto;
  border-right: 1px solid var(--white); }

.results-div {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  width: auto; }

.drive-icon-div, .fly-icon-div {
  margin-top: 0; }

.icon-result {
  width: 65px;
  height: 55px; }

.fly-extra-info-div {
  border-radius: 8px;
  box-shadow: 0 0 2px grey;
  border-top: 18px solid var(--yellow);
  padding: 15px;
  margin-bottom: 20px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  width: auto;
  max-width: 250px; }

.departing-div, .flight-div {
  margin-right: 10px; }

.arrow {
  width: 40px; }

.drive-extra-info-container {
  box-shadow: 0 0 2px grey;
  border: 1px solid var(--blue);
  border-radius: 6px;
  background-color: white;
  width: auto;
  margin-left: auto;
  margin: 0 30px;
  padding: 25px 15px;
  margin-bottom: 20px; }

.drive-info-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px; }

.drive-icon {
  height: 30px;
  margin-right: 8px; }

.drive-field {
  margin-right: 8px; }

@media (max-width: 767px) {
  .result-main-container {
    transform: translate(15px, 150px);
    width: 350px; }
  .results-div {
    margin-top: 25px; }
  .fly-extra-info-div {
    margin-top: 0; }
  .drive-column {
    border-right: none;
    border-bottom: 1px solid var(--white); }
  .background-ad-image {
    height: 120vh; } }

:root {
  --blue: #3d8fff;
  --yellow: #ffba06;
  --black: #161616;
  --white: #e9eaee;
  --roboto: 'Roboto', sans-serif; }

h1 {
  font-size: 28px;
  font-family: var(--roboto);
  font-weight: 700;
  color: var(--black); }

h2 {
  font-size: 18px;
  font-family: var(--roboto);
  font-weight: 600;
  color: var(--black);
  margin: 0; }

h3 {
  font-size: 14px;
  font-family: var(--roboto);
  font-weight: 400;
  color: var(--black); }

h6 {
  font-size: 12px;
  font-family: var(--roboto);
  font-weight: 400;
  color: var(--black);
  margin: 0; }

p {
  font-family: var(--roboto);
  color: var(--black); }

a {
  text-decoration: none;
  color: white; }

span {
  display: block;
  line-height: 1.5em;
  color: white; }

.navigation-div {
  display: flex;
  position: absolute;
  align-items: center;
  z-index: 1;
  transform: translateY(50px);
  width: 100%; }

.navigation-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: auto;
  margin-right: auto; }

.nav-menu {
  display: flex;
  align-self: flex-end;
  color: white; }

.navbar-text {
  color: white; }

.nav-logo-img {
  width: 120px; }

.nav-menu-item {
  margin-left: 20px; }

.about-container {
  position: absolute;
  transform: translate(65px, 110px);
  text-align: left;
  align-items: center;
  justify-content: left;
  max-width: 500px; }

.about-header {
  margin-bottom: 20px;
  margin-top: 40px;
  color: white; }

.navbar-text {
  color: white; }

.nav-logo-img {
  color: black; }

/*# sourceMappingURL=style.css.map */