{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}

<link rel="stylesheet" href="{% static 'TransportationComparison/style.css' %}">


{% block content %}
    <div class="container main-form-div">
        <div class="row my-5">
            <div class="col-md-12">
              <form action="{% url 'comparison:compare'%}" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                    {% endbuttons %}
              </form>
            </div>
        </div>
    </div>
{% endblock %}
