.about-background{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--black);
  overflow: hidden;
}

.about-container {
  position: relative;
  text-align: left;
  max-width: 700px;
  margin-top: 130px;
  margin-bottom: 100px;
  padding: 0 85px;
  margin-left: 0;
  margin-right: 0;
}

.about-header {
  margin-bottom: 20px;
  margin-top: 40px;
  color: white;
}

.navbar-text{
  color: white;
}

.nav-logo-img {
  color: black;
}

.black-span {
  display: block;
  line-height: 1.5em;
  color: black;
}

.white-span {
  display: block;
  line-height: 1.5em;
  color: white;
}

@media (max-width: 776px) {
  .about-container {
    padding: 0 45px;  }
}
