.pac-container {
  background-color: #FFF;
  position: absolute;
  z-index: 1000;
  border-radius: 2px;
  border-top: none;
  font-size: 14px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  margin-top: -1px;
  color: black;
}

.pac-container .pac-item {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  padding: 0.5em 1em;
  color: black;
}

.pac-container .pac-item:hover {
  background-color: #F5F5F5;
}

.pac-container .pac-item-selected {
  background-color: #E5E5E5;
}
