.result-background-ad-image{
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.result-main-container{
  position:absolute;
  transform: translate(65px, 170px);
  background-color: white;
  box-shadow: 0 0 2px grey;
  border-radius: 8px;
  width: 600px;
  height: auto;
  // padding: 10px 40px;
}

.results-columns-container{
  margin: 20px 0;
}

.drive-column{
  align-items: center;
  justify-content: center;
  margin: auto;
  border-right: 1px solid var(--white);
}

.results-div{
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  width: auto;
}

.drive-icon-div, .fly-icon-div {
  margin-top: 0;
}

.icon-result{
  width: 65px;
  height: 55px;
}

.fly-extra-info-div{
  border-radius: 8px;
  box-shadow: 0 0 2px grey;
  border-top: 18px solid var(--yellow);
  padding: 15px;
  margin-bottom: 20px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  width: auto;
  max-width: 240px;
}

.departing-div, .flight-div{
  margin-right: 10px;
}

.arrow{
  width: 40px;
}

.drive-extra-info-container{
  box-shadow: 0 0 2px grey;
  border: 1px solid var(--blue);
  border-radius: 6px;
  background-color: white;
  width: auto;
  margin-left: auto;
  margin: 0 30px;
  padding: 25px 15px;
  margin-bottom: 20px;
}

.drive-info-div{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.drive-icon{
  height: 30px;
  margin-right: 8px;
}

.drive-field{
  margin-right: 8px;
}

@media (max-width: 767px) {
  .result-main-container {
    transform: translate(20px, 150px);
    width: 350px;
  }
  .results-div{
    margin-top: 25px;
  }
  .fly-extra-info-div{
    margin-top: 0;
  }
  .drive-column {
    border-right: none;
    border-bottom: 1px solid var(--white);
  }
  .result-background-ad-image{
    height: 130vh;
  }
}
