.result-background{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // background-color: var(--black);
  overflow: hidden;
  min-height: 100vh;
}

.result-main-container {
  justify-content: space-between;
  position: relative;
  text-align: left;
  margin-top: 110px;
  margin-bottom: 100px;
  padding: 0 85px;
  margin-left: 0;
  margin-right: 0;
}

.result-info-container{
  background-color: white;
  box-shadow: 0 0 2px grey;
  border-radius: 8px;
  width: 600px;
  height: auto;
}

.results-text-container{
  width: 450px;
  color: white;
  margin-left: 50px;
  margin-top: 120px;
}

.results-columns-container{
  margin: 20px 0;
}

.drive-column{
  align-items: center;
  justify-content: center;
  margin: auto;
  border-right: 1px solid var(--white);
}

.results-div{
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  width: auto;
}

.drive-icon-div, .fly-icon-div {
  margin-top: 0;
}

.icon-result{
  width: 65px;
  height: 55px;
}

.fly-extra-info-div{
  border-radius: 8px;
  box-shadow: 0 0 2px grey;
  border-top: 18px solid var(--yellow);
  padding: 15px;
  margin-bottom: 20px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  width: auto;
  max-width: 240px;
}

.departing-div, .flight-div{
  margin-right: 10px;
}

.arrow{
  width: 40px;
}

.drive-extra-info-container{
  box-shadow: 0 0 2px grey;
  border: 1px solid var(--blue);
  border-radius: 6px;
  background-color: white;
  width: auto;
  margin-left: auto;
  margin: 0 30px;
  padding: 25px 15px;
  margin-bottom: 20px;
}

.drive-info-div{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.drive-icon{
  height: 30px;
  margin-right: 8px;
}

.drive-field{
  margin-right: 8px;
}

.co2-emissions-container{
  box-shadow: 0 0 2px grey;
  border: 1px solid var(--grey);
  border-radius: 6px;
  background-color: var(white);
  width: auto;
  margin-left: auto;
  margin: 0 30px;
  padding: 25px 15px;
  margin-bottom: 20px;
}

.flight-emissions{
  margin-top: 30px;
}

.co2-info-div{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1200px) {
  .results-text-container{
    margin-left: 0;
    margin-bottom: 130px;
  }
}

@media (max-width: 767px) {
  .result-main-container {
    transform: translate(20px, 150px);
    justify-content: space-between;
    padding: 0;
    width: 350px;
  }
  .result-info-container {
    width: 350px;
  }
  .results-div{
    margin-top: 25px;
  }
  .fly-extra-info-div{
    margin-top: 0;
  }
  .drive-column {
    border-right: none;
    border-bottom: 1px solid var(--white);
  }
  .flight-emissions{
    margin-top: 0;
  }
}
