@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --blue: #3d8fff;
  --yellow: #ffba06;
  --black: #0b0b0b;
  --white: #e9eaee;
  --roboto: 'Roboto', sans-serif;
}
