{% extends 'TransportationComparison/base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block title %} About {% endblock %}
{% block description %}Your travel choices, simplified. Compare the cost and time of driving or flying to your destination. Save money, reduce stress, and travel with confidence!{% endblock %}
{% block keywords %}Flight, Fly, Drive, Cost, Time, Compare, Calculator, Cheapest, Travel, From, To{% endblock %}

{% block content %}

  <div class="conatiner">
    <h1>About us</h1>
    <p> Created by Roberto Mora and Felipe Fischel.</p>
  </div>

{% endblock content %}
