{% extends 'TransportationComparison/base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block title %} About {% endblock %}
{% block description %}Your travel choices, simplified. Compare the cost and time of driving or flying to your destination. Save money, reduce stress, and travel with confidence!{% endblock %}
{% block keywords %}Flight, Fly, Drive, Cost, Time, Compare, Calculator, Cheapest, Travel, From, To{% endblock %}

{% block content %}

<div class="index-background-ad-image" style="background-color: var(--black)">

  <div class="container about-container">
    <h1 class="about-header">Should I drive or Fly?</h1>
    <p>
      <span class="white-span">This is the question we kept asking ourselves when planning a trip.</span><br>

      <span class="white-span">However, figuring out the cost and time of each option was a tedious task.</span><br>

      <span class="white-span"> DriveorFly works by making several API calls to find out information about your trip.</span><br>

      <span class="white-span">In a matter of seconds you can compare the time and cost of flying and driving to your desired destination.</span>
    </p>

    <h1 class="about-header">How does it work?</h1>
    <p>
      <span>This is the question we kept asking ourselves when planning a trip.</span><br>

      <span>However, figuring out the cost and time of each option was a tedious task.</span><br>

      <span> DriveorFly works by making several API calls to find out information about your trip.</span><br>

      <span>In a matter of seconds you can compare the time and cost of flying and driving to your desired destination.</span>
    </p>
  </div>

</div>

{% endblock content %}
