{% extends 'TransportationComparison/base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block title %} About {% endblock %}
{% block description %}Your travel choices, simplified. Compare the cost and time of driving or flying to your destination. Save money, reduce stress, and travel with confidence!{% endblock %}
{% block keywords %}Flight, Fly, Drive, Cost, Time, Compare, Calculator, Cheapest, Travel, From, To{% endblock %}

{% block content %}


<div class="about-background" style="background-color: var(--black);">

  <div class="about-container">
    <h1 class="about-header">Should I drive or Fly?</h1>
    <p>
      <span class="white-span">This is the question we kept asking ourselves when planning a trip.</span><br>

      <span class="white-span">However, figuring out the cost and time of each option was a tedious task.</span><br>

      <span class="white-span"> DriveorFly works by making several API calls to find out information about your trip.</span><br>

      <span class="white-span">In a matter of seconds you can compare the time and cost of flying and driving to your desired destination.</span>
    </p>

    <h1 class="about-header">How does it work?</h1>
    <p>
      <span class="white-span">The app will first calculate the driving distance and estimated drive time based on current traffic conditions. It will then obtain the current gas price and calculate the cost of driving.</span><br>

      <span class="white-span">Next, the app will obtain information on available flights and their associated prices. It will then calculate the estimated travel time.</span><br>

      <span class="white-span">Once both travel options have been calculated, the app will display a side-by-side comparison of the estimated drive time and cost, as well as the estimated fly time and cost.</span><br>

      <span class="white-span">This allows you to quickly and easily determine which option is the best for your needs.
      </span>
    </p>
  </div>

</div >


{% endblock content %}
