<!-- {% load static %} -->
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title> Drive or Fly | {% block title %}{% endblock %}</title>

      <!-- Social Sharing Meta Tags -->
      <meta property="og:title" content="Drive or Fly: Compare the cost and time of driving or flying to your destination.">
      <meta property="og:description" content="Your travel choices, simplified. Save money, reduce stress, and travel with confidence!">
      {% comment %} <meta property="og:image" content="https://example.com/my-image.jpg"> {% endcomment %}
      <meta property="og:url" content="https://driveorfly.io/">
      <meta property="og:type" content="website">
      <meta property="og:site_name" content="Drive or Fly">

      <meta name="twitter:card" content="summary">
      <meta name="twitter:title" content="Drive or Fly: Compare the cost and time of driving or flying to your destination.">
      <meta name="twitter:description" content="Your travel choices, simplified. Save money, reduce stress, and travel with confidence!">
      {% comment %} <meta name="twitter:image" content="https://example.com/my-image.jpg"> {% endcomment %}

      <!-- SEO Tags -->
      <meta name="description" content="{% block description %}{% endblock %}">
      <meta name="keywords" content="{% block keywords %}{% endblock %}">


      {% load bootstrap5 %}

      {% bootstrap_css %}

      {% bootstrap_javascript %}

      {% bootstrap_messages %}

      <link rel="stylesheet" type="text/css" href="{% sass_src 'TransportationComparison/sass/style.scss' %}"/>
      <script type="text/javascript" src="{% static 'TransportationComparison/js/jquery-3.6.0.js' %}"></script>
      <link rel="shortcut icon" type="image/x-icon" href="{% static 'TransportationComparison/icons/drive-or-fly-icon.svg' %}">

      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-DPKMVNRV53"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-DPKMVNRV53');
      </script>

  </head>

  <body>
    {% include 'TransportationComparison/navbar.html' %}
    {% block content %} {% endblock content %}
    {% include 'TransportationComparison/footer.html' %}
  </body>


</html>
