<!-- {% load static %} -->
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title> Drive or Fly | {% block title %}{% endblock %}</title>
      <meta name="description" content="{% block description %}{% endblock %}">
      <meta name="keywords" content="{% block keywords %}{% endblock %}">


      {% load bootstrap5 %}

      {% bootstrap_css %}

      {% bootstrap_javascript %}

      {% bootstrap_messages %}

      <link rel="stylesheet" type="text/css" href="{% sass_src 'TransportationComparison/sass/style.scss' %}"/>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  </head>
    <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-DPKMVNRV53"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-DPKMVNRV53');
  </script>

  <body>
    {% include 'TransportationComparison/navbar.html' %}
    {% block content %} {% endblock content %}
  </body>


</html>
