{% load static %}
<nav class="footer-div">
  <div class="footer-container">
    <div class="footer-left">
      <p class="footer-text">
        <a class="footer-link" href='mailto:support@driveorfly.io' target="_blank">Get in contact</a>
      </p>
    </div>
    <div class="footer-right">
      <div class="footer-menu-item">
        <p class="footer-text">
          Created by
          <a class="footer-link" href='https://www.linkedin.com/in/roberto-mora-rojas-4a8918146/' target="_blank">Roberto</a>
          and
          <a class="footer-link" href='https://www.linkedin.com/in/felipe-fischel/' target="_blank">Felipe</a>
        </p>
      </div>
    </div>
  </div>
</nav>
