{% extends 'TransportationComparison/base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}
    <div class="container main-form-div">
        <div class="row my-5 main-form-interior-div">
            <div class="col-md-12 main-form-grid-container">
              <form action="{% url 'comparison:compare'%}" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                    {% endbuttons %}
              </form>
            </div>
        </div>
    </div>
{% endblock %}
