{% extends 'TransportationComparison/base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %}
  <div class="background-ad-image" style="background-image:{{ backgroundimage }}">
    <div class="container main-form-div">
        <div class="main-form-grid-container">
            <form action="{% url 'comparison:compare'%}" method="post" class="main-form-wrapper">
                  {% csrf_token %}
                  <div class="row row-cols-2 main-form-grid">
                    {% for field in form %}
                      <div class="col main-form-fields">
                          {{ field.errors }}
                          {{ field.label_tag }} {{ field }}
                      </div>
                    {% endfor %}
                  </div>
                  <div class="main-form-btn-container">
                    {% buttons %}
                    <button type="submit" class="btn btn-primary main-form-btn">Drive or Fly?</button>
                    {% endbuttons %}
                  </div>
            </form>
        </div>
    </div>
  </div>
{% endblock %}
